RewriteEngine On    # Turn on the rewriting engine

RewriteRule    ^issues/?$   https://github.com/Alamantus/RedFlag/issues [R=301,L] # Shorten issues url.

RewriteRule    ^!(.+)/?$    index.php?id=$1    [NC,L]    # Handle word ids.

RewriteRule    ^~(.+)/?$    index.php?preselected=$1    [NC,L]    # Handle pre-entered warnings.

RewriteRule    ^([a-zA-Z0-9]+)(?!\.[a-z]+)/?$    index.php?page=$1    [NC,L]    # Handle pages, exclude scripts.

#RewriteRule    ^([a-zA-Z0-9]+)\/?([a-zA-Z0-9]+)?\/?([a-zA-Z0-9]+)?\/([^\/]+)$    index.php?type1=$1&type2=$2&type3=$3&url=$4    [NC,L]    # Handle word ids.

#RewriteRule    ^view/([0-9]+)/?$    index.php?dict=$1    [NC,L]    # Handle dictionary ids.

#RewriteRule    ^([0-9]+)/?$    index.php?dict=$1    [NC,L]    # Handle dictionary ids.

#RewriteRule ^updates/?$ https://github.com/Alamantus/Lexiconga/releases [R=301,L] # Shorten updates url.
